node_modules
*/*/node_modules
out

# workspace
*/*/manual.md
*/*/dev_source

# cache
*/*/.cache
*/*/.tmp
*/*/.temp
*/*/.next

# build
dist

Dockerfile
*/*/Dockerfile
.prettierrc
.gitignore
.dockerignore
.eslintrc.js
README.md
*/*/README.md

do_app_spec_prod.yaml