.base {
  cursor: pointer;
  text-decoration-thickness : 2px;
  text-decoration-line: underline;
  text-decoration-color: rgba(0, 0, 0, 0.5);
  &:hover{
    text-decoration-color: black;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  }

  &:active {
    transform: translateY(1px);
  }
  transition: transform;
}

// .size {
//   &_big{
//     font-weight: 400;
//     font-size: 1.5rem /* 24px */;
//     line-height: 2rem /* 32px */;
//   }
// }
