$width: 800px;

.base {
  width: $width;
  max-width: 100vw;
  margin: 0 auto;
  position: relative;
  @apply px-[25px] md:px-[50px];
}

.negative_padding{
  @apply -mx-[25px] md:-mx-[50px]
}

.shift{
  margin-left: calc(-1 * var(--shift, 200px));
  width: calc($width + 2 * var(--shift, 200px));
}
