.base {
  min-width: 1px;
  min-height: 1px;
  align-self: stretch;
  background-color: black;
}

.auto {
  align-self: stretch;
}

.noauto {
  display: grid;
  place-content: center;
  place-items: center;
  align-self: center;
}
